[submodule "SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDL_image"]
	path = vendored/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL
